

<h2 class="text-center bg-primary text-white">
    Cricket Info Web
</h2>
<br />
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/2023_CWC_Logo.svg/1200px-2023_CWC_Logo.svg.png" class="img-responsive" with="200" height="200"/>