@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_PView")
<main>
    <p>The <b>2023 ICC Men's Cricket World Cup</b> The 13th edition of the Cricket World Cup, a quadrennial One Day</p>
    <h2>Team info web</h2>
    <p>India is the Host of 2023 cricket world Cup. As per sources, India was awarded with the rights of hosting of world cup in late 2019</p>

</main>